NEXT_PUBLIC_JIOSAAVN_API_URL=https://jiosaavn-apix.arcadopredator.workers.dev
NEXT_PUBLIC_WEATHER_API_URL=https://wttr.in
NEXT_PUBLIC_NOMINATIM_API_URL=https://nominatim.openstreetmap.org
NEXT_PUBLIC_OPENSTREETMAP_URL=https://www.openstreetmap.org
NEXT_PUBLIC_GITHUB_API_URL=https://api.github.com

# Project URLs
NEXT_PUBLIC_PROJECT_1_URL=https://newtube-ruddy.vercel.app/
NEXT_PUBLIC_PROJECT_1_GITHUB=https://github.com/kuldeeprajput-dev/newtube
NEXT_PUBLIC_PROJECT_2_URL=https://snsta.vercel.app/
NEXT_PUBLIC_PROJECT_2_GITHUB=https://github.com/kuldeeprajput-dev/insta-things-downloader
NEXT_PUBLIC_PROJECT_3_URL=https://resume-ats-omega.vercel.app/
NEXT_PUBLIC_PROJECT_3_GITHUB=https://github.com/kuldeeprajput-dev/resume-ats-scanner
NEXT_PUBLIC_PROJECT_4_URL=https://docs-editor-ashen.vercel.app/
NEXT_PUBLIC_PROJECT_4_GITHUB=https://github.com/kuldeeprajput-dev/docs-editor

# Social URLs
NEXT_PUBLIC_GITHUB_PROFILE=https://github.com/kuldeeprajput-dev
NEXT_PUBLIC_TWITTER_URL=https://x.com/kuldeepdotcom
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/kuldeepdotcom/
NEXT_PUBLIC_PORTFOLIO_URL=https://kuldeeprajput.in
NEXT_PUBLIC_PORTFOLIO_ALT_URL=https://kuldeep-rajput.vercel.app/


#groq api key
GROQ_API_KEY=example
