::-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.7);
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8);
  border-width: 0;
}

/* Hide scrollbar utility */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
